.table-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
  border-top: 1px solid #d9d9d9;
  padding-top: 0.5rem;
}

.footer-row {
  display: flex;
  gap: 2.5rem;           
}

.footer-col {
  display: flex;
  gap: 1rem;          
}

.footer-col-left {
  margin-left: 1rem;
}

.labels {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-label {
  font-weight: 600;
  color: #4a4a4a;
}

.footer-input .sapMInputBaseInner {
  text-align: right !important;
}

.footer-input {
  width: 8rem !important;
  text-align: left;
  background-color: #f8f9fa;
  border: 1px dashed #ccc;
}
